<h4>Add a new Todo</h4>
<form id="addTodoForm">
    <div class="form-group">
        <label for="title">Name</label>
        <div>
            <input class="form-control" type="text" name="title" id="title" placeholder="Todo Title">
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <div>
            <textarea class="form-control" rows="8" name="description" id="description"
                placeholder="Add a description"></textarea>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" name="category">
                <option selected>House</option>
                <option>Work</option>
                <option>Sport</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Save</button>
    </div>
</form>