<!-- <include src="./src/views/partials/nav.html"></include> -->
<form id="addTodoForm">
    <div>
        <label for="title">Name</label>
        <div>
            <input type="text" name="title" id="title" placeholder="Todo Title">
        </div>
    </div>
    <div>
        <label for="description">Description</label>
        <div>
            <textarea rows="8" name="description" id="description" placeholder="Add a description"></textarea>
        </div>
    </div>
    <div>
        <div>
            <label for="category">Category</label>
            <select id="category" name="category">
                <option selected>House</option>
                <option>Work</option>
                <option>Sport</option>
            </select>
        </div>
        <a href="#">
            <button type="submit">
                Save todo
            </button>
        </a>
    </div>
</form>